/* Add this to your CSS or SCSS file */
/* Change background color on hover */
.active:hover {
  border-left: 4px solid green;
  background-color: #f0f0f0; /* Change to your desired hover background color */
}

/* Set background color for active menu item */
.active {
  border-left: 4px solid green !important;
  background-color: #e0e0e0; /* Change to your desired active background color */
}

.nonActive:hover {
  border-left: 4px solid green;
  background-color: #f0f0f0; /* Change to your desired hover background color */
}
