@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.clickedMenuItem {
  background-color: #3d9e47 !important;
  color: white !important;
  height: 50px !important;
}
.menu_item:hover {
  color: #3d9e47 !important;
  border-bottom: 3px solid #3d9e47 !important;
  background-color: transparent !important;
}
.menu_item {
  height: 50px !important;
  border: 3px solid white !important;
}
