.navbar {
  overflow: hidden;
  background-color: rgb(127, 127, 127);
}

.navbar Link {
  float: left;
  font-size: 16px;
  color: #000;
  text-align: left;
  padding: 18px 22px;
  text-decoration: none;
}

.dropdown {
  margin-top: 5px;
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 12px;
  border: none;
  outline: none;
  color: #878787;
  padding: 20px 36px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar Link:hover,
.dropdown:hover .dropbtn {
  background-color: transparent;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content Link {
  float: none;
  color: rgb(255, 255, 255);
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content Link:hover {
  background-color: rgb(254, 252, 252);
}

.dropdown:hover .dropdown-content {
  display: block;
}
